<div class='panel-group' id='<%= "accordion-#{widget.id}" %>'>
  <% if scrivito_in_editable_view? %>
    <%= scrivito_tag(:div, widget, :panels) %>
  <% else %>
    <% widget.panels.each do |panel| %>
      <%= scrivito_value(panel) %>
    <% end %>
  <% end %>
</div>
