.scrivito_editing_active .panel-group .panel-body.scrivito_empty_widget_field {
  margin: 10px !important;
}

.scrivito_editing_active .panel-group .panel-body {
  margin: 0px !important; 
}

.scrivito_editing_active .panel-group {
  padding-top: 30px;
}